@model IEnumerable<MyWebApplication.Models.Project>
@{
    ViewData["Title"] = "My Software Projects";
    ViewBag.Title = "My Projects";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/projects.css" asp-append-version="true" />
</head>

<body style="overflow-y: visible;">
    <div class="pageLabelContainer">
            <img src="~/Images/sign/red_sign.jpg" alt="Sign">
            <div class="pageLabel">My Software Projects</div>
    </div>
    <div class="projectContainer">
        <img src="~/Images/projects/vending_machine.png" alt="vending maching png">
        <div class="project-container">
            @if (ViewData["Projects"] != null)
            {
                var projects = ViewData["Projects"] as List<Project>;
                foreach (var prj in projects)
                {
                    <tr>
                        <a href='@prj.GetUrl()' target="_blank" style="padding-bottom:10%;">
                            <button class="projectBtn">@prj.GetName()
                                <br>
                                <a>@prj.GetProjectDate() - </a>
                                @* <br> *@
                                <a>@prj.GetProgrammingLang()</a>
                                <br>
                                <a>@prj.GetType()</a>
                            </button>
                            
                        </a>
                    </tr>
                }
            }
            else
            {
                <p>No projects available</p>
            }
        </div>
        <div class="sort-mode-container">
            <a href="/SoftwarePrjs/Sort?requestedMode=Alphabetical">
                            <button>Name</button>
            </a>
            <a href="/SoftwarePrjs/Sort?requestedMode=Date" >
                            <button >Date</button>
            </a>
            <a href="/SoftwarePrjs/Sort?requestedMode=ProgrammingLang">
                            <button>Language</button>
            </a>
            <a href="/SoftwarePrjs/Sort?requestedMode=Type">
                            <button>App Type</button>
            </a>
        </div>
        
    </div>
   


</body>

